{% extends "layout.html" %}
{% block content %}
{{render_menu|safe}}
<style type="text/css">
    .flot-placeholder{width:350px;height:300px;}
    input[type="text"] {
      margin: 0 0.3em;
    }     
</style>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://www.pureexample.com/js/flot/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.min.js"></script>
<script type="text/javascript">
  function process_annc(ele){
    var parent_tr = $(ele).parents('tr').eq(0)
    $.ajax({
          url : "/switch_device_permit",
          data : {"device_id": parent_tr.data("id"),
                  "is_permit": $(ele).prop('checked')},
          dataType : "json",
          type : "post",
          error : function(data){
            alert('something went wrong')
          },
          success: function(data){
            if(data['status']=='failed'){
              alert(data['text'])
            }
          }
        })
  }
  $(function(){
    $('.admin_switch').bootstrapToggle({
      on: '是',
      off: '否',
      size: 'mini',
      onstyle: 'primary',
      offstyle: 'outline-primary',
      width: '4em',
      height: '2em'
    });
    $('.admin_switch').change(function(){
      process_annc(this)
    })
  })
  function add_config(ele){
    $(ele).before(field('',''))
  }
  function field(v1,v2){
    return "<div style=\"margin-bottom: 1em;display: flex;flex-wrap: wrap;\"><input onblur=\"check_blank(this)\" type=\"text\" value=\""+v1+"\">"+':'+"<input class=\"value\" type=\"text\" name=\""+v1+"\" value=\""+v2+"\"><br><button type=\"button\" class=\"btn btn-warning\" onclick=\"delete_config(this)\">刪除</button></div>"
  }
  function check_blank(ele){
    if ($(ele).val()==''){
      alert('此欄位必填')
    }else{
      $(ele).parents('div').eq(0).find('.value').attr('name',$(ele).val())
    }
  }
  function delete_config(ele){
    $(ele).parents('div').eq(0).remove()
  }
  function get_config(id){
    $.ajax({
      url : "/get_config",
      data : {"device_id": id},
      dataType : "json",
      type : "post",
      error : function(data){
        alert('something went wrong')
      },
      success: function(data){
        var tmp = "<form action=\"/save_config\" method=\"post\" name=\"config\" data-did=\""+id+"\">"
        for (k in data){
          tmp += field(k,data[k])
        }
        tmp += "<button class=\"btn btn-primary\" type=\"button\" onclick=\"add_config(this)\">新增</button>"
        tmp += "</form>"
        $('#dialog').html(tmp)
        $('#dialog').dialog('open')
      }
    })
  }
</script>
<script type="text/javascript">
  var options = {
      series: {
          lines: { show: true },
          points: {
              radius: 3,
              show: true
          }
      },
      grid: {
          hoverable: true,
          clickable: true
      },
      xaxis: {
         mode: "time",
         timeformat: "%y/%m/%d %H:%M:%S"
       },
      zoom: {
          interactive: true
      },
      pan: {
          interactive: true,
          enableTouch: true
      },
      colors: ["#708fff"]
  };
  Date.prototype.format = function (fmt) { 
      var o = {
          "M+": this.getMonth() + 1, //月份 
          "d+": this.getDate(), //日 
          "h+": this.getHours(), //小时 
          "m+": this.getMinutes(), //分 
          "s+": this.getSeconds(), //秒 
          "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
          "S": this.getMilliseconds() //毫秒 
      };
      if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
      for (var k in o)
      if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
      return fmt;
  }
</script>
<div id="dialog"></div>
<div style="margin: 1em 0;display: flex;align-items: center;justify-content: center;">
  <button data-id="all" type="button" class="update_client btn btn-danger">推送更新</button>
</div>
<table class="table table-striped table-primary">
  <thead>
    <tr>
      <th>最後連線時間</th>
      <th>ip位址</th>
      <th>電腦名稱</th>
      <th>連線允許</th>
      <th>數據圖</th>
      <th>位置</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
      {% set d = device.get_dict() %}
      <tr data-id="{{d['id']}}">
        <td>
          {{d['update_time']|safe}}
        </td>
        <td>
          {{d['ip']|safe}}
        </td>
        <td>
          <a href="javascript:get_config('{{d['id']}}')">{{handle_field_catch(d,'node')|safe}}</a>
          {% if device.update_flag %}
            等待更新
          {% elif git_head != device.git_head %}
            <button data-id="{{d['id']}}" type="button" class="update_client btn btn-warning">更新</button>
          {% endif %}
          <ul>
            {% for field_name in field_names %}
              <li>
                {{get_field_name(field_name)}}:{{ handle_field_catch(d,field_name)|safe }}
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if is_admin %}
            {% set tmp = 'checked' if d.is_permit else '' %}
            <input type="checkbox" class="admin_switch" {{tmp}}>
          {% else %}
            {% set tmp = '是' if d.is_permit else '否' %}
            {{tmp}}
          {% endif %}
        </td>
        <td>
          {% set tmp = get_sensor_data(d['id']) %}
          {% if tmp['flag'] %}
          <div class="flot-placeholder" id="flot-placeholder-{{d['id']}}"></div>
          <script type="text/javascript">
            var tmp;
            function update_{{d['id']}}(){
              $.ajax(
                {
                  type : "post",
                  url : '/get_sensor_data',
                  dataType : "json",
                  data:{device_id: "{{d['id']}}"},
                  global:false,
                  success: function(data)
                   {
                      $.plot($("#flot-placeholder-{{d['id']}}"), eval(data), options);
                      tmp = data
                      window.setTimeout(function(){
                          update_{{d['id']}}()
                        },2000)
                   },
                  error : function(data){
                    alert('系統發生錯誤')
                  }
                })
            }
            $(document).ready(function () {
              dataset = {{tmp['dataset']|safe}}
              $.plot($("#flot-placeholder-{{d['id']}}"), dataset, options);
              window.setTimeout(function(){
                update_{{d['id']}}()
              },2000)
            })
          </script>
          {% endif %}
        </td>
        <td>
          {{position(d['wifi_infos'])}}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div id="tooltip" style="position: absolute; border: 1px solid rgb(255, 221, 221); padding: 2px; background-color: #3c54ac;color:#fff; opacity: 0.8; top: 274px; left: 371px; display: none;"></div>
<script type="text/javascript">
  $(document).ready(function () {
    var window_width = window.innerWidth
    var window_height = window.innerHeight
    $("#dialog").dialog({
      autoOpen: false,
      show: "blind",
      model: true,
      hide: "explode",
      width: window_width*0.7,
      height: window_height*0.6,
      buttons:{
        '送出':function(){
          var formdata = $('form[name="config"]').serializeArray()
          var config_data = {}
          for (d=formdata.length-1;d>=0;d--){
            config_data[formdata[d]['name']] = formdata[d]['value']
          }
          $.ajax({
            url : $('form[name="config"]').attr('action'),
            data : {"device_id": $('form[name="config"]').attr('data-did'),'config':JSON.stringify(config_data)},
            dataType : "text",
            type : "post",
            error : function(data){
              alert('something went wrong')
            },
            success: function(data){
              $('#dialog').html('')
              $('#dialog').dialog('close')
            }
          })
        }
      }
    });
    $(".flot-placeholder").bind("plothover", function (event, pos, item) {

        if (!pos.x || !pos.y) {
            return;
        }
        if (item) {
            var x = item.datapoint[0].toFixed(2),
                y = item.datapoint[1].toFixed(2);
            var date = new Date(+x)
            $("#tooltip").html("[" + date.format("yyyy-MM-dd hh:mm:ss") + "," + y + "]")
                .css({top: item.pageY+5, left: item.pageX+5})
                .fadeIn(200);
        } else {
            $("#tooltip").hide();
        }
        
    });
    $('.update_client').click(function(){
      var self = $(this)
      $.ajax({
          url : "/update_client",
          data : {"id": self.data("id")},
          dataType : "text",
          type : "post",
          error : function(data){
            alert('something went wrong')
          },
          success: function(data){
            if (self.data('id')=='all'){
              if ($('.update_client').not('[data-id="all"]').length==0){
                alert('已推送更新')
              }
              $('.update_client').not('[data-id="all"]').after('等待更新')
              $('.update_client').not('[data-id="all"]').remove()
            }else{
              self.after('等待更新')
              self.remove()
            }
          }
        })
    })
  });
</script>
{% endblock %}