{% extends "layout.html" %}
{% block content %}
{{render_menu|safe}}
{% if is_admin %}
  <style type="text/css">
    .text_group{
      margin: 0.5em 0;
    }
  </style>
  <form class="form-horizontal form" action="/ip_set" method="post">
	<div class="control-group">
	    <label class="control-label">
		  IP管理模式
		</label>
		<div class="controls">
		  <div class="form-check">
			  <input class="form-check-input radio_input" type="radio" name="management_type" id="accept_btn" value="accept" 
        {% if mode == 'accept' %}
          checked
        {% endif %}
        >
			  <label class="form-check-label" for="accept_btn">
				允許IP設定(沒在列表中的ip將無法連線)
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input radio_input" type="radio" name="management_type" id="denied_btn" value="denied"
        {% if mode == 'denied' %}
          checked
        {% endif %}
        >
			  <label class="form-check-label" for="denied_btn">
				拒絕IP設定(沒在列表中的ip才可連線)
			  </label>
		  </div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label accept_text">
		  允許IP
		</label>
		<label class="control-label denied_text">
		  拒絕IP
		</label>
		<div class="controls accept_text">
		  <div class="texts">
        {% for v in ip_manage['ip_accept'] %}
          <div class="text_group">
            <input class="add_text" name="ip-accept[]" type="text" size="20" value="{{v}}">
            <button type="button" class="btn btn-warning delete_btn">delete</button>
            <br>
          </div>
        {% endfor %}  
      </div>
      <input class="add_text" name="ip-accept[]" type="text" size="20">
		  <a href="#" class="btn btn-primary add_btn">add</a>
		</div>
		<div class="controls denied_text">
		  <div class="texts">
        {% for v in ip_manage['ip_denied'] %}
          <div class="text_group">
            <input class="add_text" name="ip-denied[]" type="text" size="20" value="{{v}}">
            <button type="button" class="btn btn-warning delete_btn">delete</button>
            <br>
          </div>
        {% endfor %}  
      </div>
		  <input class="add_text" name="ip-denied[]" type="text" size="20">
		  <a href="#" class="btn btn-primary add_btn">add</a>
		</div>
	</div>
  <input type="submit" value="送出" class="btn btn-info">
  </form>
   <style type="text/css">
	.radio_input{
	  position: relative;
	  float: left;
	}
	.denied_text{
	  display: none;
	}
   </style>
   <script>
	$(document).ready(function(){
		$('.add_btn').click(function(){
			var text = $(this).siblings('.add_text').val();
			if(text != ""){
        if ($(this).parents('div.controls').eq(0).hasClass('accept_text')){
          $(this).siblings('.texts').append("<div class=\"text_group\"><input size=\"20\" type=\"text\" name=\"ip-accept[]\" value=\""+text+"\">"+"<button type=\"button\" class=\"btn btn-warning delete_btn\">delete</button><br></div>");
        }else{
          $(this).siblings('.texts').append("<div class=\"text_group\"><input size=\"20\" type=\"text\" name=\"ip-denied[]\" value=\""+text+"\">"+"<button type=\"button\" class=\"btn btn-warning delete_btn\">delete</button><br></div>");
        }
				$(this).siblings('.add_text').val('');
			}
		});
    $('.delete_btn').click(function(){
      $(this).parent().remove()
    });
		$('#denied_btn').click(function(){
			$('.denied_text').css('display','block');
			$('.accept_text').css('display','none');
		});
		$('#accept_btn').click(function(){
			$('.denied_text').css('display','none');
			$('.accept_text').css('display','block');
		});
    if (!$('#accept_btn').prop('checked')){
      $('.denied_text').css('display','block');
      $('.accept_text').css('display','none');
    }
	});
   </script>
{% else %}
  <style type="text/css">
    #content{
      background: #a9d0f2;
    }
    .no_permission{    
      display: flex;
      justify-content: center;
      height: 100%;
    }
  </style>
  <div class='no_permission'>
    你沒有管理者權限
  </div>
{% endif %}
{% endblock %}